.Name{
    
    font-family:  'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 800%;
    color: white;
}

.card{
    background-color: white !important;
    margin: 10%;
    border-radius: 8% !important;
    border: 0 solid !important; 
    box-shadow: 50px 100px 300px 10px rgba(12, 5, 62, 0.15);
    z-index: 100; 
     
}   

.button{

    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 50%;
}

body {
    background-image: url("space.png");
}